/*---------GRILLA CLIENTES---------------*/

.grilla {
  display: grid;
  grid-template-areas:
    'titulo titulo titulo'
    'cliente1 cliente2 cliente3'
    'cliente4 cliente5 cliente6'
    'contacto contacto contacto';
  grid-template-rows: 1fr 4fr 4fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  row-gap: 20px;
}

.carrousel-clientes {
  display: none;
  padding: 50px;
}

@media (max-width: 1200px) {
  .grilla {
    display: none;
  }
  .carrousel-clientes {
    display: block;
  }
}

#titulo-grilla {
  grid-area: titulo;
}

#contacto-grilla {
  grid-area: contacto;
}

@for $i from 1 to 7 {
  #cliente#{$i} {
    grid-area: cliente#{$i};
  }
}
/*---------FIN GRILLA CLIENTES---------------*/
